:where(.css-dev-only-do-not-override-1ij74fp).ant-progress .ant-progress-text {
    display: none;
    width: 2em;
    margin-inline-start: 8px;
    color: rgba(241, 233, 233, 0.88);
    line-height: 1;
    white-space: nowrap;
    text-align: start;
    vertical-align: middle;
    word-break: normal;
}